/* TodoComponent's private CSS styles */
.todos {
  margin: 1em 0 1em 0;
  list-style-type: none;
  padding: 0;
  width: 30em;
}

.todos li {
  display: flex;
}

.todos button {
  flex: 1;
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #EEE;
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 1.8em;
}

.todos button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.todos button:active {
  background-color: #525252;
  color: #fafafa;
}

.todos button.selected {
  background-color: black;
  color: white;
}

.todos button.selected:hover {
  background-color: #505050;
  color: white;
}

.todos button.selected:active {
  background-color: black;
  color: white;
}

.todos .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
  width: 2em;
}

.todos .description {
  align-self: center;
  width: 20em;
}

.todos .done {
  float: right;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  margin-left: .8em;
  border-radius: 4px 0 0 4px;
  width: 3em;
}

.todos .date {
  width: 8em;
  padding-top : 7px;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #A80000;
}

.my-pagination {
  text-align: center;
  padding-right: 40px;
}

.sort-by-id {
  padding-left: 16px;
}

.sort-by-description {
  padding-left: 165px;
}

.sort-by-date {
  padding-left: 210px;
}

.search-by-id {
  display: block;
  margin-bottom: -6px;
}

.search {
  display: block;
  margin-bottom: -6px;
}

.update {
  display: block;
  margin-bottom: -6px;
}

.general {
  position: absolute;
  left : 32px;
  list-style-type: none;
  padding: 0;
  margin-top: 50px;
}